<template id="menu">
  <ul>
    <li>
      <a class="page-link" href="">Mis propuestas</a>
      <ul>
        <li>
          <a class="page-link" href="/acompanamiento-creativo"
            >Sesiones Individuales</a
          >
        </li>
        <li>
          <a class="page-link" href="/talleres-sobre-comunicacion"
            >Sesiones Grupales: "Escuchándonos"</a
          >
        </li>
        <li>
          <a class="page-link" href="/talleres-de-movimiento"
            >Talleres de Movimiento Expresivo</a
          >
        </li>
        <li>
          <a class="page-link" href="/sesiones-individuales-de-masaje"
            >Sesiones de Masaje</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a class="page-link" href="/libro-la-corazon">Libro: "la corazón"</a>
    </li>
    <li><a class="page-link" href="/agenda">Agenda</a></li>
    <li>
      <a class="page-link" href="/mas-informacion">Más información</a>
      <ul>
        <li><a class="page-link" href="/trayectoria">Trayectoria</a></li>
        <li>
          <a class="page-link" href="/copia-de-conciencia-corporal"
            >Movimiento y conciencia corporal</a
          >
        </li>
        <li>
          <a class="page-link" href="/sistema-rio-abierto"
            >Sistema Río Abierto</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a class="page-link" href="/escritos">Escritos</a>
      <ul>
        <li>
          <a class="page-link" href="/recordar-quienes-somos"
            >Recordar quiénes somos</a
          >
        </li>
        <li>
          <a class="page-link" href="/habia-una-vez">Había una vez ...</a>
        </li>
        <li>
          <a class="page-link" href="/pensar-y-sentir">Pensar y sentir</a>
        </li>
        <li><a class="page-link" href="/conciencia">Conciencia</a></li>
      </ul>
    </li>
    <li>
      <a class="page-link" href="/blog">Blog</a>
      <ul>
        <li><a class="page-link" href="/page1" title="">Recientes</a></li>
        <li><a class="page-link" href="/autores" title="">Autores</a></li>
        <li><a class="page-link" href="/categorias" title="">Categorías</a></li>
        <li><a class="page-link" href="/fechas" title="">Por fecha</a></li>
        <li><a class="page-link" href="/etiquetas" title="">Etiquetas</a></li>
      </ul>
    </li>
    <li><a class="page-link" href="/contacto">Contacto</a></li>
  </ul>
</template>
